@{
    ViewData["Title"] = "Scaner IP";
}

<div class="text-center">
    <h1 class="display-4">Сканировани IP адресов</h1>

    <input id="tx_ip" type="text" value="8.8.8.8"/>
    <input type="button" value="Начать сканирование" onclick="_scaner.scan()"/>

    <div id="cntnr_result_scan"></div>
    

</div>
